/* --- main body tag styles --- */
.mail-html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Fuzzy Bubbles';
    font-size: 20px;
}
.mail-body {
    background-image: url("/images/cloud.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mail-header {
    display: flex;
    border: 3px solid gray;
    border-radius: 10px;
    width: inherit;
}
/* --- content container and content div styles --- */
.content-container {
    height: 100%;
}
.content {
    margin-top: 0.4rem;
}
/* --- logo container and nested elements styles --- */
.logo-container {
    display: flex;
    margin-left: 0;
    margin-right: 4em;
    max-width: 9%;
}
.logo-text {
    font-size: 1.5vw;
}
/* --- search container and input styles  --- */
.search-container {
    display: flex;
    min-width: 40%
}
.searchbox {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
}
/* --- side panel and nested navigation and other elements styles --- */
.side-panel {
    padding-left: 0.5rem;
    max-width: 12%;
}
.nav-list {
    border: 3px solid gray;  
    border-radius: 10px;
    padding: 8px;
    margin: 0px;
    list-style-type: none;
}
.align-nav-item {
    display: flex;
    height: 1.4rem;
    align-items: center;
}
.nav-item {
    padding: 3px;
    height: 1.5rem;
}
.nav-item:hover {
    background-color: rgba(235, 235, 224, 50%);
    border-radius: 5px;
    cursor: pointer;
}
.nav-label {
}
.icon-container {
    padding: 0;
    padding-top: 3px;
    margin: 0;
}
.icon{
    width: 1vw;
    height: 1vw;
    margin-right: 0.5em;
}
.nav-label {
    font-size: 1vw;
}
